*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;

}
.logo img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}
.info{
    height: 1000px;
    width: 1000px;
    position:absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);

}
#circle{
    width: 1000px;
    height: 1000px;
    position:absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
}
.feature img{
    width: 70px;
}
.feature{
    position: absolute;
    display: flex;
    color: #fff;

}
.feature div{
    margin-left: 30px;
}
.feature div p{
    margin-top:8px;
}
.mobile{
    width:absolute;
    position:absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
}
.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #ffff;
    border-right: 500px solid #ffff;
    border-left: 500px solid #ffff;
    position: absolute;
    left: 0;
    top: 0;

}
.one{
    top: 450px;
    right: 50px;
}
.two{
    top: 150px;

}